ul li {
    padding: 0.4rem;
}

strong{
    color: #384cff;
}

#loops-in-html img {
    display: block;
    max-width: 300px;
    margin-top: 10px;
}

.image {
    max-width: 400px;
    margin: 10px 0;
}